{% extends "CNGOTBundle:admin:layout.html.twig" %}


{% block content %}






    <!DOCTYPE>
    <html>

        <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <style>#success_message{ display: none;}</style>
        </head>
        <body>

            <div class="container">
                <form class="well form-horizontal" action="#" {{ form_enctype(form) }}  method="post"  id="contact_form">
                    <fieldset>

                        <!-- Form Name -->
                        <legend>Ajouter  Actualite </legend>

                        <!-- Text input-->

                        <div class="form-group">
                            <label class="col-md-4 control-label">Titre</label>  
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        {{ form_widget(form.titre, { 'attr': {'class': "form-control",
                                                            'placeholder': 'Titre'|trans} }) }}
                                        {{ form_errors(form.titre) }}
                                </div>
                            </div>
                        </div>

                        <!-- Text input-->


                        <div class="form-group">
                            <label class="col-md-4 control-label">Description</label>  
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                        {{ form_widget(form.descreption, { 'attr': {'class': "form-control"|trans} }) }}
                                        {{ form_errors(form.descreption) }}
                                </div>
                            </div>
                        </div>
                        <!-- Text input-->


                        <div class="form-group">
                            <label class="col-md-4 control-label">Joindre une Image </label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                                        {{ form_widget(form.file, { 'attr': {'class': "form-control",'value': null |trans} }) }}
                                        {{ form_errors(form.file) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="display: none">
                            <label class="col-md-4 control-label">Date</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                    {{ form_widget(form.dateAjout, { 'attr': {'class': "form-control"|trans} }) }}
                                    {{ form_errors(form.dateAjout) }}
                                </div>
                            </div>
                        </div>

                        {{ form_rest(form) }}

                        <!-- Success message -->
                        <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div>

                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label"></label>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-warning" >Soumettre <span class="glyphicon glyphicon-send"></span></button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div><!-- /.container -->

            <div class="row">
                <div class="col-md-12">
                    <!-- Begin: life time stats -->
                    <div class="portlet light portlet-fit portlet-datatable bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-settings font-green"></i>
                                <span class="caption-subject font-green sbold uppercase">Liste des ateliers</span>
                            </div>
                            <div class="actions">
                                <div class="btn-group">
                                    <a class="btn red btn-outline btn-circle" href="javascript:;" data-toggle="dropdown">
                                        <span class="hidden-xs"> Options </span>
                                    </a>
                                    <ul class="dropdown-menu pull-right" id="sample_3_tools">
                                        <li>
                                            <a href="javascript:;" data-action="0" class="tool-action">
                                                <i class="icon-printer"></i> Imprimer</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" data-action="1" class="tool-action">
                                                <i class="icon-check"></i> Copier</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" data-action="2" class="tool-action">
                                                <i class="icon-doc"></i> PDF</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" data-action="3" class="tool-action">
                                                <i class="icon-paper-clip"></i> Excel</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" data-action="4" class="tool-action">
                                                <i class="icon-cloud-upload"></i> CSV</a>
                                        </li>
                                        <li class="divider"> </li>
                                        <li>
                                            <a href="javascript:;" data-action="5" class="tool-action">
                                                <i class="icon-refresh"></i> Rafraîchir</a>
                                        </li>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-bodya">
                            <div class="table-container">
                                <table class="table table-striped table-bordered table-hover" id="sample_4">
                                    <thead>
                                    <tr>
                                        <th class="all"> Titre </th>
                                        <th class="min-phone-l"> Description </th>
                                        <th >Date</th>
                                        <th >Supprimer</th>
                                        <th >Modifier</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for Act in Actualite %}

                                        <tr>
                                            <td>{{Act.titre}}  </td>
                                            <td> {{Act.descreption}} </td>
                                            <td> {{Act.dateAjout|date('d/m/y')}} </td>
                                            <td>
                                                <a href="{{ path('delete_actualite',{'id' : Act.id}) }}" class="buttonDownload">Supprimer</a>
                                            </td>
                                            <td>
                                                <a href="{{ path('mdf_actualite',{'id' : Act.id}) }}" class="buttonDownload">Modifier</a>
                                            </td>

                                        </tr>

                                    {% endfor %}






                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- End: life time stats -->
                </div>
            </div>
    </body>
</html>









{% endblock %}    