{% extends "CNGOTBundle:admin:layout.html.twig" %}


{% block content %}






    <!DOCTYPE>
    <html>

        <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <style>#success_message{ display: none;}</style>
        </head>
        <body>

            <div class="container">
                <form class="well form-horizontal" action="#" {{ form_enctype(form) }}  method="post"  id="contact_form">
                    <fieldset>

                        <!-- Form Name -->
                        <legend>Ajouter video</legend>

                        <!-- Text input-->

                        <div class="form-group">
                            <label class="col-md-4 control-label">Titre</label>  
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        {{ form_widget(form.titre, { 'attr': {'class': "form-control",
                                                            'placeholder': 'Titre'|trans} }) }}
                                        {{ form_errors(form.titre) }}
                                </div>
                            </div>
                        </div>

                        <!-- Text input-->


                        <div class="form-group">
                            <label class="col-md-4 control-label">Description</label>  
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                        {{ form_widget(form.description, { 'attr': {'class': "form-control"|trans} }) }}
                                        {{ form_errors(form.description) }}
                                </div>
                            </div>
                        </div>
                        <!-- Text input-->

                        <div class="form-group">
                            <label class="col-md-4 control-label">Date</label>  
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                        {{ form_widget(form.date, { 'attr': {'class': "form-control"|trans} }) }}
                                        {{ form_errors(form.date) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Joindre une vidéo (au format mp4 seulment)</label>  
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                                        {{ form_widget(form.file, { 'attr': {'class': "form-control",'value': null |trans} }) }}
                                        {{ form_errors(form.file) }}
                                </div>
                            </div>
                        </div>

                        {{ form_rest(form) }}

                        <!-- Success message -->
                        <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div>

                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label"></label>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-warning" >Soumettre <span class="glyphicon glyphicon-send"></span></button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div><!-- /.container -->

    </body>
</html>









{% endblock %}    